.wrap{
    background: #0f0f0f;
}

header {
    background: url("img/baner12.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
}
